body {
    background-color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.nave-barra-navegacao {
    background-color: #000000;
    box-shadow: 0px 2px 8px rgba(201, 142, 142, 0.2);
}

.nave-titulo-pagina {
    color: #000000;
    width: 200px;
    height: 28px;
}

.nave-botao {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 200px;
    height: 36px;
}


.nave-tabela {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.nave-tabela thead{
    color: #7C7C7C;
}

.nave-tabela .linkUserDetail{
    color: #000000;
}

.nave-detalhe-usuario{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.nave-detalhe-usuario h4{
   color: #7C7C7C;
   font-size: 24px;
   line-height: 28px;
   font-weight: 100;
}

.nave-formularioUsuario{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: none;
}


.nave-formularioUsuario input{ 
    border: none;
    border-bottom: 2px solid #838383;
    border-radius: 0;
    font-size: 16px;
    line-height: 19px;
    width: 320px;
}

.nave-formularioUsuario button{ 
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100px;
    height: 36px;
}

.nave-toast-success {
    font-size: 20px;
    line-height: 16px;
    height: 28px;
    width: 300px;
    text-align: center;
    background-color: greenyellow;
    border-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
